name: Publish Release

on:
  push:
    tags: ["*"]

jobs:
  publish:
    name: Publish Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: main

      - name: Bump Pesde Version
        id: version-bump
        uses: DervexDev/file-version-bumper@v1
        with:
          path: ./pesde.toml

      - name: Install Pesde
        uses: axiom-co/setup-pesde@v0.4.1
        with:
          token: ${{ secrets.PESDE_TOKEN }}

      - name: Setup Lune Typedefs
        run: lune setup

      - name: Update Pesde Lock
        run: pesde update --no-install

      - name: Install Pesde Dependencies
        run: pesde install --locked

      - name: Update Changelog
        id: changelog
        uses: baynezy/ChangeLogger.Action@1.2.0.6
        with:
          tag: ${{ github.ref_name }}

      - name: Commit and Push
        uses: EndBug/add-and-commit@v9
        if: ${{ github.ref_name != steps.version-bump.outputs.old_version }}
        with:
          message: "chore: release v${{ github.ref_name }}"
          default_author: github_actions

      - name: Update Tag
        if: ${{ github.ref_name != steps.version-bump.outputs.old_version }}
        run: |
          git tag -fa ${{ github.ref_name }} -m "chore: release v${{ github.ref_name }}"
          git push -f --tags

      - name: Get previous Tag
        id: previous-tag
        uses: WyriHaximus/github-action-get-previous-tag@v1

      - name: Create Release
        id: create-release
        uses: shogo82148/actions-create-release@v1
        with:
          release_name: ${{ github.ref_name }}
          body: |
            ## Changelog
            ${{ steps.changelog.outputs.release-notes }}
          prerelease: ${{ contains(github.ref_name, 'pre') }}
          notes_start_tag: ${{ steps.previous-tag.outputs.tag }}
          generate_release_notes: true
          commitish: main
          draft: true

      - name: Publish on GitHub
        uses: eregon/publish-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          release_id: ${{ steps.create-release.outputs.id }}

      - name: Publish Lune Target
        run: pesde publish -y
